CHATWOOT_PORT=53000
FRONTEND_URL=http://localhost:53000
FORCE_SSL=false
ENABLE_ACCOUNT_SIGNUP=false
REDIS_URL=redis://redis:6379
MAILPIT_PORT=58025
MAILER_SENDER_EMAIL=Spirit <support@localhost>
SMTP_ADDRESS=mailpit
SMTP_PORT=1025
SMTP_DOMAIN=localhost
SMTP_ENABLE_STARTTLS_AUTO=false
ACTIVE_STORAGE_SERVICE=local
SAFE_FETCH_ALLOW_PRIVATE_NETWORK=false
RAILS_LOG_TO_STDOUT=true
LOG_LEVEL=info
